.dashboard {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
  }
  
  .stock-market-main {
    flex-grow: 1;
    padding: 20px;
  }
  
/* In Home.css */
.stock-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 30px; /* Increase gap from 10px to 20px for more spacing */
  padding: 10px;
}  
  .beli-icon {
    width: 40px;
  }
  
  .stock-market-main {
    flex-grow: 1;
    padding: 20px;
  }
    
  .market-footer {
    background: var(--dark-blue);
    color: var(--gold);
    text-align: center;
    padding: 10px;
    font-size: 0.8rem;
  }
  
  .dashboard {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
  }
    

